/* CSS files add styling rules to your content */

* body {
  font-family: "Poppins", sans-serif;
  margin: 2em;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: #5e5e5e;
}
p {
  font-family: "Open sans", sans-serif;
}
h6 {
  font-family: "Roboto Mono", sans-serif;
  color: #5e5e5e;
  font-weight: normal;
  margin: 0vw;
  margin-bottom: -0.5vw;
}
h4 {
  top-margin:2vw;
}
h1 {
  font-size: 2vw;
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topnav {
  width: 55%;
  background-color: white;
  overflow: hidden;
  margin-left: 28vw;
  margin-right: 12vw;
}

.topnav a {
  float: left;
  display: block;
  padding: 2.5vw 2.2vw;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #5e5e5e;
}

.topnav .search {
  float: right;
}

.topnav .search button {
  float: right;
  margin-top: 4vw;
  margin-right: 1.6vw;
  background: white;
  font-size: 1vw;
  color: #5e5e5e;
  border: none;
  cursor: pointer;
}
.content {
  width: 85%;
}
.article1 {
  transition: 0.3s;
  width: 85%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.article:hover {
  box-shadow: 0 0.3vw 0.6vw 0 #5e5e5e;
}

.container1 {
  align: left;
  margin-right: 22vw;
  display: block;
}

hr {
  width: 80%;
  border-top: 0.25vw solid #43A7F0;
}

.segmentheader {
  font-weight: bold;
  margin-right: 8vw;
  margin-left: 8vw;
}

.link {
  font-weight: bold;
  margin-right: 8vw;
  float: right;
}

.article2 {
  transition: 0.3s;
  width: 85%;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.newsfeed {
  position: relative;
  top: -2vw;
}

.newsfeed .h4 {
  font-size: 1.45vw;
  position: relative;
  top: -1vw;
}

.mainnews {
  width: 40%;
  padding: 1.5vw;
  padding-bottom: 1.5vw;
  margin-right: 0vw;
  margin-left: 2.5vw;
  float: left;
}

.SA {
  width: 40%;
  padding: 1.5vw 3vw 1.5vw 1.5vw;
  margin-right: 0vw;
  margin-left: 1vw;
  float: right;
  top: -3vw;

}

.samargin {
  left-padding: 2vw;
  right-padding: 2vw;
 margin-top: 1vw;

}

.newsletter {
  background-color: gray;
}