/* CSS files add styling rules to your content */

* body {
  font-family: "Poppins", sans-serif;
  margin: 2em;
  color: #404040;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}